section.filters div.locations {
    height: 100%;
    width: 45%;
    border-right: solid 1px #DDDDDD;
    margin-left: 30px;
    text-align: left;
    font-weight: 600;
}

section.filters div.amenities {
    height: 100%;
    width: 80%;
    text-align: left;
    margin-left: 30px;
    font-weight: 600;
}

section.filters div h4 {
    font-weight: 400;
    font-size: 14px;
}
